
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:sans-serif;
}


.layout{
  display:grid;
  gap:24px;
  padding:24px;
}


.hero img{
  width:100%;
  border-radius:12px;
}

.text{
  padding:16px;
}

.text span{
  font-size:12px;
  color:gray;
}


.sidebar{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.item{
  display:flex;
  gap:12px;
  padding:12px;
  background:#f5f5f5;
  border-radius:8px;
  align-items:center;
}
.item-img{
    width:40%;
}

.item img{
  width:100%;
  border-radius:6px;
}

.item .item-ctns{
  width:60%;
  font-size:14px;
}


.cards{
  display:flex;
  gap:16px;
}

.card img{
    width:100%;
    height:250px;
    border-radius:10px;
    margin-bottom: 10px;
}



.card{
 
   flex: 1 1 300px;
  padding:24px;
  background:#f2f2f2;
  border-radius:12px;
}


@media (min-width:768px){
  .layout{
    grid-template-columns:2fr 1fr;
  }
  .cards{
    grid-column:1 / -1;
  }
 
}
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
